node-red.txt
[{"id":"8044bcf2.05d6b","type":"tab","label":"Home","disabled":false,"info":""},{"id":"87e1655.37a7a98","type":"tab","label":"Maintenance","disabled":false,"info":""},{"id":"3aee46f.dee783a","type":"ui_group","z":"","name":"Table","tab":"","disp":true,"width":"12","collapse":false},{"id":"90f1b574.7794d8","type":"ui_group","z":"","name":"Valve","tab":"6a7d9492.cd4acc","order":1,"disp":true,"width":"6","collapse":false},{"id":"6a7d9492.cd4acc","type":"ui_tab","z":"","name":"Maintenance","icon":"fa-wrench","order":3,"disabled":false,"hidden":false},{"id":"d5bb9482.1e1768","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"93ee386a.579ed8","type":"ui_tab","z":"","name":"Settings","icon":"fa-cogs","order":4,"disabled":false,"hidden":false},{"id":"b8a008a9.c91f7","type":"ui_group","z":"","name":"Flash","tab":"6a7d9492.cd4acc","order":2,"disp":true,"width":"6","collapse":false},{"id":"24aa1462.54df44","type":"ui_group","z":"","name":"Camera","tab":"6a7d9492.cd4acc","order":3,"disp":true,"width":"6","collapse":false},{"id":"cba8e956.c434f","type":"ui_group","name":"Group 1","tab":"93ee386a.579ed8","order":1,"disp":true,"width":6},{"id":"483c0a58.564e5c","type":"ui_tab","z":"","name":"Home","icon":"fa-home","order":1,"disabled":false,"hidden":false},{"id":"7ade4fc3.412c5","type":"ui_group","z":"","name":"Consol","tab":"483c0a58.564e5c","order":2,"disp":true,"width":"12","collapse":false},{"id":"1ba52b04.5162f5","type":"ui_group","z":"","name":"Start","tab":"483c0a58.564e5c","order":1,"disp":true,"width":"6","collapse":false},{"id":"b93ab139.767ec8","type":"ui_group","z":"","name":"picture","tab":"","order":9,"disp":true,"width":"6","collapse":false},{"id":"f84ea9e1.2eef5","type":"ui_group","z":"","name":"Logs","tab":"6a7d9492.cd4acc","order":4,"disp":true,"width":"6","collapse":false},{"id":"3c68fd12.afc8e2","type":"serial-port","z":"","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"1ae21f21.121989","type":"ui_spacer","name":"spacer","group":"7ade4fc3.412c5","order":2,"width":12,"height":1},{"id":"b35cc6ef.1772e","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"92025a44.b5e4c8","type":"ui_group","z":"","name":"Settings","tab":"483c0a58.564e5c","order":3,"disp":true,"width":"6","collapse":false},{"id":"ce6e5853.8e151","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"9a03eadc.95013","type":"ui_group","z":"","name":"Misc","tab":"6a7d9492.cd4acc","order":5,"disp":true,"width":"6","collapse":false},{"id":"1e78ff2b.0165a9","type":"ui_dropdown","z":"8044bcf2.05d6b","name":"","label":"Laser","tooltip":"","place":"Select option","group":"92025a44.b5e4c8","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"ON","type":"str"},{"label":"","value":"OFF","type":"str"},{"label":"","value":"AUTO","type":"str"}],"payload":"","topic":"Laser","x":750,"y":60,"wires":[["5c0d00ff.303c9","e7dba517.05c3a8"]]},{"id":"badace03.ee3cb","type":"ui_dropdown","z":"8044bcf2.05d6b","name":"","label":"Light","tooltip":"","place":"Select option","group":"92025a44.b5e4c8","order":0,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"ON","type":"str"},{"label":"","value":"OFF","type":"str"},{"label":"","value":"AUTO","type":"str"}],"payload":"","topic":"Light","x":747,"y":128,"wires":[["5c0d00ff.303c9","277250b.2cb973"]]},{"id":"59e045b2.8d5234","type":"ui_button","z":"8044bcf2.05d6b","name":"Upload sequence to Arduino","group":"1ba52b04.5162f5","order":1,"width":0,"height":0,"passthru":false,"label":"Upload sequence","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":420,"wires":[["4f547679.5dd058"]]},{"id":"4f547679.5dd058","type":"exec","z":"8044bcf2.05d6b","command":"C:\\Users\\m.favre.ST12\\AppData\\Local\\Programs\\Python\\Python38-32\\python.exe  C:\\Users\\m.favre.ST12\\Documents\\Perso\\waterdrop\\Python\\prepare-sequence.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"upload sequence","x":510,"y":420,"wires":[["1a990b3f.faf60d"],["56725290.cc2aec"],[]]},{"id":"5c0d00ff.303c9","type":"function","z":"8044bcf2.05d6b","name":"","func":"\nif (msg.payload=='ON'){\n    msg.payload=true;\n}else if (msg.payload=='OFF'){\n    msg.payload=false;\n}else {msg.payload=true;}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":996,"y":97,"wires":[[]]},{"id":"c3bf09bd.8e0e9","type":"function","z":"8044bcf2.05d6b","name":"Read variable","func":"msg.payload='AUTO';\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":100,"wires":[["1e78ff2b.0165a9","badace03.ee3cb"]]},{"id":"e7dba517.05c3a8","type":"change","z":"8044bcf2.05d6b","name":"","rules":[{"t":"set","p":"laser","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1009,"y":19,"wires":[[]]},{"id":"277250b.2cb973","type":"change","z":"8044bcf2.05d6b","name":"","rules":[{"t":"set","p":"light","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1009,"y":156,"wires":[[]]},{"id":"548ee2ed.709c3c","type":"ui_button","z":"8044bcf2.05d6b","name":"","group":"1ba52b04.5162f5","order":2,"width":0,"height":0,"passthru":false,"label":"START","tooltip":"","color":"","bgcolor":"Green","icon":"","payload":"[START]","payloadType":"str","topic":"","x":660,"y":500,"wires":[["9496e839.56d27","bbba91ef.72e6b"]]},{"id":"b51d731e.80d97","type":"ui_switch","z":"87e1655.37a7a98","name":"","label":"SOL 1","tooltip":"SOL1","group":"90f1b574.7794d8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"O1","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":450,"y":100,"wires":[["c0a4f2c1.92144"]]},{"id":"17c725a3.0d3a92","type":"ui_switch","z":"87e1655.37a7a98","name":"","label":"SOL 2","tooltip":"","group":"90f1b574.7794d8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"O2","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":451,"y":154,"wires":[["c0a4f2c1.92144"]]},{"id":"6e4850b1.a74948","type":"ui_switch","z":"87e1655.37a7a98","name":"","label":"SOL 3","tooltip":"","group":"90f1b574.7794d8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"O3","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":449,"y":208,"wires":[["c0a4f2c1.92144"]]},{"id":"68c1a603.a7828","type":"ui_switch","z":"87e1655.37a7a98","name":"","label":"Flash 1","tooltip":"","group":"b8a008a9.c91f7","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"F1","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":440,"y":300,"wires":[["c0a4f2c1.92144"]]},{"id":"927721f5.4bc548","type":"ui_switch","z":"87e1655.37a7a98","name":"","label":"Flash 2","tooltip":"","group":"b8a008a9.c91f7","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"F2","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":460,"y":360,"wires":[["c0a4f2c1.92144"]]},{"id":"2b3ffb46.c0d19c","type":"ui_switch","z":"87e1655.37a7a98","name":"","label":"Flash 3","tooltip":"","group":"b8a008a9.c91f7","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"F3","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":460,"y":440,"wires":[["c0a4f2c1.92144"]]},{"id":"8f2b6450.8ec1d8","type":"ui_switch","z":"87e1655.37a7a98","name":"","label":"Camera","tooltip":"","group":"24aa1462.54df44","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"C1","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":460,"y":500,"wires":[["c0a4f2c1.92144"]]},{"id":"c0a4f2c1.92144","type":"function","z":"87e1655.37a7a98","name":"Prepare serial","func":"topic = msg.topic;\nstate = msg.payload;\n\ndata = [];\n\nmsg.payload= '[' + topic + state + ']';\n\nreturn msg;","outputs":1,"noerr":0,"x":731,"y":246,"wires":[["db2f2570.e2a3f8"]]},{"id":"9b16699f.99e838","type":"inject","z":"87e1655.37a7a98","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":169,"y":245,"wires":[["b51d731e.80d97","17c725a3.0d3a92","6e4850b1.a74948","68c1a603.a7828","927721f5.4bc548","2b3ffb46.c0d19c","8f2b6450.8ec1d8","ed8b8598.40833","f6c7345c.dbb5a"]]},{"id":"bbba91ef.72e6b","type":"exec","z":"8044bcf2.05d6b","command":"C:\\Users\\m.favre.ST12\\AppData\\Local\\Programs\\Python\\Python38-32\\python.exe  C:\\Users\\m.favre.ST12\\Documents\\Perso\\waterdrop\\Python\\log-sequence.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"log sequence","x":1060,"y":500,"wires":[["56725290.cc2aec"],["56725290.cc2aec"],[]]},{"id":"9496e839.56d27","type":"serial out","z":"8044bcf2.05d6b","name":"","serial":"3c68fd12.afc8e2","x":1610,"y":620,"wires":[]},{"id":"ed8b8598.40833","type":"ui_switch","z":"87e1655.37a7a98","name":"","label":"Shutter","tooltip":"","group":"24aa1462.54df44","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"C2","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":440,"y":560,"wires":[["c0a4f2c1.92144"]]},{"id":"57d8aeb7.4b2df8","type":"inject","z":"8044bcf2.05d6b","name":"","topic":"","payload":"[START]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":740,"y":620,"wires":[["9496e839.56d27"]]},{"id":"111956ad.905d69","type":"inject","z":"8044bcf2.05d6b","name":"","topic":"","payload":"[N1004B4,2000D7,3000B2,3000D7,4000B2,5000B4] ","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":680,"wires":[["9496e839.56d27"]]},{"id":"db2f2570.e2a3f8","type":"serial out","z":"87e1655.37a7a98","name":"","serial":"3c68fd12.afc8e2","x":1010,"y":240,"wires":[]},{"id":"8e33c283.602fc","type":"inject","z":"8044bcf2.05d6b","name":"","topic":"","payload":"[N1003D7,2000B4,1000D7,4000B4]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":740,"wires":[["9496e839.56d27"]]},{"id":"f6c7345c.dbb5a","type":"ui_switch","z":"87e1655.37a7a98","name":"","label":"SOL 4","tooltip":"","group":"90f1b574.7794d8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"O4","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":450,"y":260,"wires":[["c0a4f2c1.92144"]]},{"id":"c0d727ca.3e6c8","type":"inject","z":"8044bcf2.05d6b","name":"","topic":"","payload":"[HELLO]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":740,"y":820,"wires":[["9496e839.56d27"]]},{"id":"5ecf1ad5.0387cc","type":"ui_template","z":"8044bcf2.05d6b","group":"7ade4fc3.412c5","name":"Python","order":3,"width":12,"height":6,"format":"\n<p>{{msg.payload}}</p>  \n\n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":1740,"y":500,"wires":[[]]},{"id":"56725290.cc2aec","type":"function","z":"8044bcf2.05d6b","name":"","func":"var out = flow.get(\"python\");\nflow.set(\"python\",  '<p>'+ msg.payload + '</p>'  + out );\nvar out2 = flow.get(\"python\");\nmsg.template = out2;\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":500,"wires":[["5ecf1ad5.0387cc"]]},{"id":"329bbaaa.f8e986","type":"file in","z":"8044bcf2.05d6b","name":"Open the sequence file","filename":"C:\\Users\\m.favre.ST12\\Documents\\Perso\\waterdrop\\Python\\sequence.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":970,"y":380,"wires":[["732268a3.74e008"]]},{"id":"732268a3.74e008","type":"switch","z":"8044bcf2.05d6b","name":"Take the arduino line","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"[N","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1240,"y":380,"wires":[["4ac2fba0.7c3554","9496e839.56d27"]]},{"id":"4ac2fba0.7c3554","type":"function","z":"8044bcf2.05d6b","name":"","func":"msg.payload= \"Send to Arduino : \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":380,"wires":[["56725290.cc2aec"]]},{"id":"1a990b3f.faf60d","type":"delay","z":"8044bcf2.05d6b","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":380,"wires":[["329bbaaa.f8e986"]]},{"id":"5c3cfb7c.9bc80c","type":"ui_switch","z":"87e1655.37a7a98","name":"","label":"Laser","tooltip":"","group":"9a03eadc.95013","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"C2","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":430,"y":620,"wires":[[]]},{"id":"555e2210.a61274","type":"ui_switch","z":"87e1655.37a7a98","name":"","label":"Light","tooltip":"","group":"9a03eadc.95013","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"C2","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":430,"y":680,"wires":[[]]},{"id":"ca1ce9b6.30a17","type":"ui_template","z":"8044bcf2.05d6b","group":"7ade4fc3.412c5","name":"Sequence ","order":1,"width":12,"height":6,"format":"\n<p>{{msg.payload}}</p>  \n\n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":950,"y":260,"wires":[[]]},{"id":"204a3d4d.b47c52","type":"serial in","z":"8044bcf2.05d6b","name":"","serial":"3c68fd12.afc8e2","x":230,"y":260,"wires":[["513e934b.c556bc"]]},{"id":"513e934b.c556bc","type":"function","z":"8044bcf2.05d6b","name":"","func":"var out = flow.get(\"stdout\");\nflow.set(\"stdout\",  '<p>'+ msg.payload + '</p>'  + out );\nvar out2 = flow.get(\"stdout\");\nmsg.template = out2;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":260,"wires":[["ca1ce9b6.30a17"]]}]