node-red.txt
[{"id":"8044bcf2.05d6b","type":"tab","label":"Home","disabled":false,"info":""},{"id":"87e1655.37a7a98","type":"tab","label":"Maintenance","disabled":false,"info":""},{"id":"8d59a7c0.59c3a8","type":"tab","label":"Tunning","disabled":false,"info":""},{"id":"3aee46f.dee783a","type":"ui_group","z":"","name":"Table","tab":"","disp":true,"width":"12","collapse":false},{"id":"90f1b574.7794d8","type":"ui_group","z":"","name":"Valve","tab":"6a7d9492.cd4acc","order":1,"disp":true,"width":"6","collapse":false},{"id":"6a7d9492.cd4acc","type":"ui_tab","z":"","name":"Maintenance","icon":"fa-wrench","order":3,"disabled":false,"hidden":false},{"id":"d5bb9482.1e1768","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"93ee386a.579ed8","type":"ui_tab","z":"","name":"Tunning","icon":"fa-cogs","order":4,"disabled":false,"hidden":false},{"id":"b8a008a9.c91f7","type":"ui_group","z":"","name":"Flash","tab":"6a7d9492.cd4acc","order":2,"disp":true,"width":"6","collapse":false},{"id":"24aa1462.54df44","type":"ui_group","z":"","name":"Camera","tab":"6a7d9492.cd4acc","order":3,"disp":true,"width":"6","collapse":false},{"id":"cba8e956.c434f","type":"ui_group","z":"","name":"Function","tab":"93ee386a.579ed8","order":1,"disp":true,"width":"3","collapse":false},{"id":"483c0a58.564e5c","type":"ui_tab","z":"","name":"Home","icon":"fa-home","order":1,"disabled":false,"hidden":false},{"id":"7ade4fc3.412c5","type":"ui_group","z":"","name":"Consol","tab":"483c0a58.564e5c","order":6,"disp":true,"width":"12","collapse":false},{"id":"1ba52b04.5162f5","type":"ui_group","z":"","name":"Start","tab":"483c0a58.564e5c","order":1,"disp":true,"width":"6","collapse":false},{"id":"b93ab139.767ec8","type":"ui_group","z":"","name":"picture","tab":"","order":9,"disp":true,"width":"6","collapse":false},{"id":"f84ea9e1.2eef5","type":"ui_group","z":"","name":"Logs","tab":"6a7d9492.cd4acc","order":4,"disp":true,"width":"6","collapse":false},{"id":"3c68fd12.afc8e2","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"1ae21f21.121989","type":"ui_spacer","name":"spacer","group":"7ade4fc3.412c5","order":2,"width":12,"height":1},{"id":"b35cc6ef.1772e","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"92025a44.b5e4c8","type":"ui_group","z":"","name":"Drop sequence","tab":"483c0a58.564e5c","order":3,"disp":true,"width":"3","collapse":false},{"id":"ce6e5853.8e151","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"9a03eadc.95013","type":"ui_group","z":"","name":"Misc","tab":"6a7d9492.cd4acc","order":5,"disp":true,"width":"6","collapse":false},{"id":"d45a0075.ad5bd","type":"ui_group","z":"","name":"Camera/Flash","tab":"483c0a58.564e5c","order":2,"disp":true,"width":"3","collapse":false},{"id":"ffe37f42.506b38","type":"ui_group","z":"","name":"Drop size","tab":"483c0a58.564e5c","order":4,"disp":true,"width":"3","collapse":false},{"id":"6f23a587.a5ac6c","type":"ui_group","z":"","name":"Drop size","tab":"93ee386a.579ed8","order":2,"disp":true,"width":"3","collapse":false},{"id":"59e045b2.8d5234","type":"ui_button","z":"8044bcf2.05d6b","name":"Upload sequence to Arduino","group":"1ba52b04.5162f5","order":1,"width":0,"height":0,"passthru":false,"label":"Check","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[CHECK]","payloadType":"str","topic":"","x":480,"y":1040,"wires":[["9496e839.56d27"]]},{"id":"4f547679.5dd058","type":"exec","z":"8044bcf2.05d6b","command":"C:\\Users\\m.favre.ST12\\AppData\\Local\\Programs\\Python\\Python38-32\\python.exe  C:\\Users\\m.favre.ST12\\Documents\\Perso\\waterdrop\\Python\\prepare-sequence.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"upload sequence","x":1850,"y":680,"wires":[[],[],[]]},{"id":"548ee2ed.709c3c","type":"ui_button","z":"8044bcf2.05d6b","name":"","group":"1ba52b04.5162f5","order":2,"width":0,"height":0,"passthru":false,"label":"START","tooltip":"","color":"","bgcolor":"Green","icon":"","payload":"","payloadType":"date","topic":"","x":280,"y":580,"wires":[["420e741.8693f0c","8c8e3ed.7f109c"]]},{"id":"b51d731e.80d97","type":"ui_switch","z":"87e1655.37a7a98","name":"","label":"SOL 1","tooltip":"SOL1","group":"90f1b574.7794d8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"O1","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":450,"y":100,"wires":[["c0a4f2c1.92144"]]},{"id":"17c725a3.0d3a92","type":"ui_switch","z":"87e1655.37a7a98","name":"","label":"SOL 2","tooltip":"","group":"90f1b574.7794d8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"O2","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":451,"y":154,"wires":[["c0a4f2c1.92144"]]},{"id":"6e4850b1.a74948","type":"ui_switch","z":"87e1655.37a7a98","name":"","label":"SOL 3","tooltip":"","group":"90f1b574.7794d8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"O3","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":449,"y":208,"wires":[["c0a4f2c1.92144"]]},{"id":"8f2b6450.8ec1d8","type":"ui_switch","z":"87e1655.37a7a98","name":"","label":"Camera","tooltip":"","group":"24aa1462.54df44","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"C1","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":460,"y":500,"wires":[["c0a4f2c1.92144"]]},{"id":"c0a4f2c1.92144","type":"function","z":"87e1655.37a7a98","name":"Prepare serial","func":"topic = msg.topic;\nstate = msg.payload;\n\ndata = [];\n\nmsg.payload= '[' + topic + state + ']';\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":240,"wires":[["db2f2570.e2a3f8"]]},{"id":"9b16699f.99e838","type":"inject","z":"87e1655.37a7a98","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":169,"y":245,"wires":[["b51d731e.80d97","17c725a3.0d3a92","6e4850b1.a74948","8f2b6450.8ec1d8","ed8b8598.40833","f6c7345c.dbb5a"]]},{"id":"bbba91ef.72e6b","type":"exec","z":"8044bcf2.05d6b","command":"C:\\Users\\m.favre.ST12\\AppData\\Local\\Programs\\Python\\Python38-32\\python.exe  C:\\Users\\m.favre.ST12\\Documents\\Perso\\waterdrop\\Python\\log-sequence.py","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"log sequence","x":1780,"y":880,"wires":[[],[],[]]},{"id":"9496e839.56d27","type":"serial out","z":"8044bcf2.05d6b","name":"","serial":"3c68fd12.afc8e2","x":1610,"y":620,"wires":[]},{"id":"ed8b8598.40833","type":"ui_switch","z":"87e1655.37a7a98","name":"","label":"Shutter","tooltip":"","group":"24aa1462.54df44","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"C0","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":440,"y":560,"wires":[["c0a4f2c1.92144"]]},{"id":"57d8aeb7.4b2df8","type":"inject","z":"8044bcf2.05d6b","name":"","topic":"","payload":"[START]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1340,"y":640,"wires":[["9496e839.56d27"]]},{"id":"111956ad.905d69","type":"inject","z":"8044bcf2.05d6b","name":"","topic":"","payload":"[N1004B4,2000D7,3000B2,3000D7,4000B2,5000B4] ","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1350,"y":700,"wires":[["9496e839.56d27"]]},{"id":"db2f2570.e2a3f8","type":"serial out","z":"87e1655.37a7a98","name":"","serial":"3c68fd12.afc8e2","x":1170,"y":240,"wires":[]},{"id":"8e33c283.602fc","type":"inject","z":"8044bcf2.05d6b","name":"","topic":"","payload":"[BYE]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1330,"y":760,"wires":[["9496e839.56d27"]]},{"id":"f6c7345c.dbb5a","type":"ui_switch","z":"87e1655.37a7a98","name":"","label":"SOL 4","tooltip":"","group":"90f1b574.7794d8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"O4","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":450,"y":260,"wires":[["c0a4f2c1.92144"]]},{"id":"c0d727ca.3e6c8","type":"inject","z":"8044bcf2.05d6b","name":"","topic":"","payload":"[HELLO]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1340,"y":840,"wires":[["9496e839.56d27"]]},{"id":"329bbaaa.f8e986","type":"file in","z":"8044bcf2.05d6b","name":"Open the sequence file","filename":"C:\\Users\\m.favre.ST12\\Documents\\Perso\\waterdrop\\Python\\sequence.txt","format":"lines","chunk":false,"sendError":false,"encoding":"none","x":1470,"y":1040,"wires":[[]]},{"id":"ca1ce9b6.30a17","type":"ui_template","z":"8044bcf2.05d6b","group":"7ade4fc3.412c5","name":"Sequence ","order":1,"width":12,"height":6,"format":"\n<p>{{msg.payload}}</p>  \n\n\n","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":950,"y":260,"wires":[[]]},{"id":"204a3d4d.b47c52","type":"serial in","z":"8044bcf2.05d6b","name":"","serial":"3c68fd12.afc8e2","x":230,"y":260,"wires":[["513e934b.c556bc"]]},{"id":"513e934b.c556bc","type":"function","z":"8044bcf2.05d6b","name":"","func":"var out = flow.get(\"stdout\");\nflow.set(\"stdout\", out + '<p>'+ msg.payload + '</p>'   );\nvar out2 = flow.get(\"stdout\");\nmsg.template = out2;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":260,"wires":[["ca1ce9b6.30a17"]]},{"id":"a0cc209f.3fb86","type":"debug","z":"87e1655.37a7a98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1120,"y":380,"wires":[]},{"id":"18d00e60.c66592","type":"ui_button","z":"87e1655.37a7a98","name":"","group":"b8a008a9.c91f7","order":1,"width":0,"height":0,"passthru":false,"label":"Flash 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"F1","x":460,"y":320,"wires":[["79965358.c3dac4"]]},{"id":"79965358.c3dac4","type":"trigger","z":"87e1655.37a7a98","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1000,"y":520,"wires":[["c0a4f2c1.92144"]]},{"id":"f7082ef8.a947b","type":"ui_text_input","z":"8044bcf2.05d6b","name":"","label":"Flash 1","tooltip":"","group":"d45a0075.ad5bd","order":4,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"F1","x":420,"y":740,"wires":[["bcb8656e.46f5d8"]]},{"id":"ae550503.a0c9e8","type":"ui_text_input","z":"8044bcf2.05d6b","name":"","label":"Camera before flash","tooltip":"","group":"d45a0075.ad5bd","order":1,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"C","x":440,"y":800,"wires":[["bcb8656e.46f5d8"]]},{"id":"d8156101.912318","type":"ui_text_input","z":"8044bcf2.05d6b","name":"","label":"Open1","tooltip":"","group":"92025a44.b5e4c8","order":0,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"O1","x":410,"y":880,"wires":[["bcb8656e.46f5d8"]]},{"id":"8efc8171.4b8e28","type":"ui_text","z":"8044bcf2.05d6b","group":"7ade4fc3.412c5","order":3,"width":0,"height":0,"name":"","label":"Arduino sequence","format":"{{msg.payload}}","layout":"col-center","x":1150,"y":740,"wires":[]},{"id":"49dcac8a.dc77fc","type":"ui_text_input","z":"8044bcf2.05d6b","name":"","label":"Size 1","tooltip":"","group":"ffe37f42.506b38","order":0,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"S1","x":590,"y":880,"wires":[["bcb8656e.46f5d8"]]},{"id":"bcb8656e.46f5d8","type":"function","z":"8044bcf2.05d6b","name":"","func":"var out = flow.get(\"sequence\");\nvar topic = msg.topic;\nout[topic] = msg.payload;\nflow.set(\"sequence\",  out );\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":780,"wires":[["c4596aad.0fb27"]]},{"id":"cd654ba.794cc38","type":"function","z":"8044bcf2.05d6b","name":"","func":"var out = {F1:0,C:0,O1:0,S1:0,O2:0,S2:0,O3:0,S3:0}\n\nflow.set(\"sequence\",  out );\nmsg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":820,"wires":[["f7082ef8.a947b","ae550503.a0c9e8","d8156101.912318","49dcac8a.dc77fc","f4662310.5b14f8","11acdf19.c71649","71a9835f.de9b3c","d1ffda36.06096"]]},{"id":"9dce7072.9e73d8","type":"inject","z":"8044bcf2.05d6b","name":"","topic":"false","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":740,"wires":[["cd654ba.794cc38"]]},{"id":"c4596aad.0fb27","type":"function","z":"8044bcf2.05d6b","name":"","func":"var out = flow.get(\"sequence\");\nvar seq = [];\n\n\n\nseq[0]={name:\"Flash\",time:out.F1,port:\"B2\"};\nvar cameratime= out.F1 - out.C;\nseq[1]={name:\"Camera\",time:cameratime,port:\"B4\"};\n\nseq[2]={name:\"D1Start\",time:out.O1,port:\"D7\"};\nseq[3]={name:\"D1Stop\",time:out.O1 + out.S1 ,port:\"D7\"};\nseq[4]={name:\"D2Start\",time:out.O2 ,port:\"D7\"};\nseq[5]={name:\"D2Stop\",time:out.O2 + out.S2 ,port:\"D7\"};\nseq[6]={name:\"D3Start\",time:out.O3 ,port:\"D7\"};\nseq[7]={name:\"D3Stop\",time:out.O3 + out.S3 ,port:\"D7\"};\n\nvar sorted =seq.sort(function(a, b){\n    return a.time-b.time\n})\n\nvar arduino=\"[N\";\n\nfor(let i = 0; i < sorted.length; i++){\n    if (sorted[i].time !== 0){\n        arduino= arduino + sorted[i].time + sorted[i].port + ',';\n    }\n}\nvar last_time= out.F1 + 50;\narduino= arduino+ last_time + \"B2\" + \"]\";\n\nmsg.payload=arduino;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":780,"wires":[["8efc8171.4b8e28","e345b767.f88ee8"]]},{"id":"420e741.8693f0c","type":"change","z":"8044bcf2.05d6b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"arduino","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":580,"wires":[["9496e839.56d27","a11a1939.72067"]]},{"id":"f4662310.5b14f8","type":"ui_text_input","z":"8044bcf2.05d6b","name":"","label":"Open2","tooltip":"","group":"92025a44.b5e4c8","order":0,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"O2","x":410,"y":920,"wires":[["bcb8656e.46f5d8"]]},{"id":"71a9835f.de9b3c","type":"ui_text_input","z":"8044bcf2.05d6b","name":"","label":"Size 2","tooltip":"","group":"ffe37f42.506b38","order":0,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"S2","x":590,"y":920,"wires":[["bcb8656e.46f5d8"]]},{"id":"d1ffda36.06096","type":"ui_text_input","z":"8044bcf2.05d6b","name":"","label":"Size 3","tooltip":"","group":"ffe37f42.506b38","order":0,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"S3","x":590,"y":960,"wires":[["bcb8656e.46f5d8"]]},{"id":"11acdf19.c71649","type":"ui_text_input","z":"8044bcf2.05d6b","name":"","label":"Open3","tooltip":"","group":"92025a44.b5e4c8","order":0,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"O3","x":410,"y":960,"wires":[["bcb8656e.46f5d8"]]},{"id":"c7581502.a36878","type":"file","z":"8044bcf2.05d6b","name":"","filename":"C:\\Users\\m.favre.ST12\\Documents\\Perso\\waterdrop\\sequence.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1140,"y":520,"wires":[[]]},{"id":"a7e4f788.8afd08","type":"template","z":"8044bcf2.05d6b","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}},{{flow.arduino}} ","output":"str","x":680,"y":480,"wires":[["c7581502.a36878","a11a1939.72067"]]},{"id":"a11a1939.72067","type":"debug","z":"8044bcf2.05d6b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":960,"y":440,"wires":[]},{"id":"e345b767.f88ee8","type":"change","z":"8044bcf2.05d6b","name":"","rules":[{"t":"set","p":"arduino","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":680,"wires":[[]]},{"id":"8c8e3ed.7f109c","type":"moment","z":"8044bcf2.05d6b","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Europe/Zurich","adjAmount":"1","adjType":"hours","adjDir":"add","format":"","locale":"en_US","output":"payload","outputType":"msg","outTz":"Europe/Zurich","x":500,"y":520,"wires":[["a7e4f788.8afd08"]]},{"id":"f3894954.4d2378","type":"ui_button","z":"87e1655.37a7a98","name":"","group":"b8a008a9.c91f7","order":1,"width":0,"height":0,"passthru":false,"label":"Flash 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"F2","x":460,"y":380,"wires":[["79965358.c3dac4"]]},{"id":"49df9fd1.65926","type":"ui_button","z":"87e1655.37a7a98","name":"","group":"b8a008a9.c91f7","order":1,"width":0,"height":0,"passthru":false,"label":"Flash 3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"F3","x":460,"y":440,"wires":[["79965358.c3dac4"]]},{"id":"67c09c72.57554c","type":"ui_button","z":"8d59a7c0.59c3a8","name":"","group":"cba8e956.c434f","order":1,"width":0,"height":0,"passthru":false,"label":"Sol 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"S1","payloadType":"str","topic":"","x":190,"y":100,"wires":[["26ea680f.ac1388"]]},{"id":"ccffa105.48bda","type":"debug","z":"8d59a7c0.59c3a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":980,"y":160,"wires":[]},{"id":"50ff7578.ecf90c","type":"template","z":"8d59a7c0.59c3a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[N0D7,{{payload}}D7]","output":"str","x":780,"y":100,"wires":[["ccffa105.48bda","d22507ac.bb48d8"]]},{"id":"26ea680f.ac1388","type":"ui_text_input","z":"8d59a7c0.59c3a8","name":"","label":"","tooltip":"","group":"6f23a587.a5ac6c","order":1,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":515,"y":100,"wires":[["50ff7578.ecf90c"]],"l":false},{"id":"d22507ac.bb48d8","type":"link out","z":"8d59a7c0.59c3a8","name":"send-serial","links":["62c3f321.9cd614"],"x":900,"y":280,"wires":[]},{"id":"62c3f321.9cd614","type":"link in","z":"8044bcf2.05d6b","name":"","links":["d22507ac.bb48d8"],"x":1460,"y":540,"wires":[["9496e839.56d27"]]},{"id":"8b28140a.6d65c","type":"ui_button","z":"8d59a7c0.59c3a8","name":"","group":"cba8e956.c434f","order":2,"width":0,"height":0,"passthru":false,"label":"Shutter","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":180,"wires":[["9d1c9220.acd4d"]]},{"id":"9d1c9220.acd4d","type":"ui_text_input","z":"8d59a7c0.59c3a8","name":"","label":"","tooltip":"","group":"6f23a587.a5ac6c","order":1,"width":0,"height":0,"passthru":false,"mode":"number","delay":300,"topic":"","x":515,"y":180,"wires":[["3d90825e.033346"]],"l":false},{"id":"3d90825e.033346","type":"template","z":"8d59a7c0.59c3a8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[N0B4,{{payload}}B4]","output":"str","x":760,"y":180,"wires":[["d22507ac.bb48d8"]]}]